
<!-- TODO: Do not show at all if alarm is not active anymore, or not found -->

<div *ngIf="alarm;else loadingTemplate">
    <h1>{{alarm.title}}</h1>
    <p>{{alarm.text}}</p>
    <p>Alarm status: {{alarm.status}}</p>
    <p>
        Latest response:
        {{alarmResponse.date.toDate() | date: 'yyyy-MM-dd HH:mm:ss'}}
    </p>
</div>

<div *ngIf="alarmResponse;else loadingTemplate">
    <button [ngClass]="{'rStatusButton': true, 'safeActive': this.alarmResponse.status == 1}" type="button" (click)="setStatus(1)">
        <i class="fas fa-check-circle fa-3x" style="color: rgb(110, 206, 110);"></i>
        <div>I am safe</div>
    </button>
    <br>
    <button [ngClass]="{'rStatusButton': true, 'unsafeActive': this.alarmResponse.status == 2}" type="button" (click)="setStatus(2)">
        <i class="fas fa-exclamation-triangle fa-3x" style="color: orange;"></i>
        <div>I need help!</div>
    </button>
    <br>
    <button [ngClass]="{'rStatusButton': true, 'homeActive': this.alarmResponse.status == 3}" type="button" (click)="setStatus(3)">
        <i class="fas fa-home fa-3x" style="color: purple;"></i>
        <div>I am not at work</div>
    </button>
    <br>
</div>

<div>
    ---This is a placeholder for the map---
</div>

<ng-template #loadingTemplate>
    <hr>
    <h5>
        Loading...
    </h5>
</ng-template>