
<div *ngIf="alarm">
    <h1>{{alarm.title}}</h1>
    <p>{{alarm.text}}</p>
    <p>
        Latest response:
        <br>
        Id: {{alarmResponse.id}}
        <br>
        Time: {{alarmResponse.date | date: 'yyyy-MM-dd HH:mm:ss'}}
        <br>
        Status: {{alarmResponse.status}}
        <br>
        User ID: {{alarmResponse.userId.id}}
        <br>
        Alarm ID: {{alarmResponse.alarmId.id}}
    </p>
    <br>
    <button type="button" id="safeButton" class="rStatusButton" (click)="setStatus(1)">
        I am safe
    </button>
    <br>
    <button type="button" class="rStatusButton" (click)="setStatus(2)">
        I need help!
    </button>
    <br>
    <button type="button" class="rStatusButton" (click)="setStatus(3)">
        I am not at work
    </button>
    <br>
    <div>
        ---This is a placeholder for the map---
    </div>
</div>

