
<!-- <button (click)="goBack()">Back</button> -->

<h4>{{alarm.title}}:</h4>

<p>{{alarm.text}}</p>
<p>Status:<br>{{alarm.status}}</p>

<br>
<button type="button" (click)="setStatus(1)">
  Start alarm
</button>

<br>
<button type="button" (click)="setStatus(2)">
  Stop alarm
</button>

<!-- Statistics Area -->
<!-- These values should be updated automatically by CF -->
<div>
  Users total in group: X
  <br>
  Users notified: X
  <br>
  Safe: X
  <br>
  Unsafe: X
  <br>
  Away: X
  <br>
  Last Updated: YYYY-MM-DD HH:mm
</div>

<br>
<button type="button" (click)="deleteAlarm()">
  Delete
</button>

<div class="debug">
  Debug area:
  <br>
  {{alarm | json}}
</div>
