
<div style="background-color: black; height: 700px;">
  <div class="demoPhone">
    <app-alarm-list></app-alarm-list>
  </div>
  
  <div class="demoPhone">
      <!-- <div *ngIf="alarmsSearching == false;else loadingTemplate">
        <div *ngIf="activeAlarms.length > 0;else notFoundTemplate"> -->
          <ul *ngFor="let id of responseJonatanUrls">
            <li>
              {{id}}
            </li>
          </ul>
        <!-- </div>
      </div> -->
  </div>
  
  <div class="demoPhone">
  
  </div>
</div>
