/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

.mainContainerDiv {
    text-align: center;
}

.listDiv {
    border: 0.2%;
    border-style: solid;
    border-color: black;
    padding: 0.4%;
}

.debug {
    color: red;
}